<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolas</title>
</head>
<body>
    <form method="POST">
        Id: <input type="text" name="txtId" readonly value="<%=escola._id%>"><br>
        Nome: <input type="text" name="txtNome" placeholder="Nome" value="<%=escola.nome%>"><br>
<br>   Endereço da Escola: <input type="text" name="txtEndereco" placeholder="Endereço" value="<%=escola.endereco%>"><br>
        Foto: <input type="file" name="txtFoto"><br>
       
        <input type="submit" name="Adicionar">
    </form>
</body>
</html>