<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        Nome: <input type="text" name="txtNome" placeholder="Nome"><br>
      <br>  Data de nascimento: <input type="date" name="txtData" placeholder="Data"><br>
    <br> Nome do responsavel: <input type="text" name="txtNomeResponsavel" placeholder="Nome do Responsável"><br>
      <br> Endereco do aluno: <input type="text" name="txtEndereco" placeholder="Endereço"><br> 
       <br> Email: <input type="email" name="txtEmail" placeholder="Email"><br>
       <br> Foto: <input type="file" name="txtFoto"><br>
        
        <br><input type="submit" name="Adicionar">
    </form>
</body>
</html>