<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        Id: <input type="text" name="txtId" readonly value="">
        Nome Completo do(a) Aluno(a): <input type="text" name="txtNome" placeholder="Nome" value=""><br>
      <br>  Data de Nascimento: <input type="date" name="txtData" placeholder="Data" value=""><br>
      <br> Ano Letivo em 2022: <input type="button" name="txtAno" placeholder="Ano Letivo em 2022" value=""><br>
      <br> Especificidade: <input type="button" name="txtEspecificidade" placeholder="Especificidade" value=""><br>
      <br> Especificar no Caso de Outros: <input type="text" name="txtEspecificar" placeholder="Especificar" value=""><br>
    <br> Nome do Responsável: <input type="text" name="txtNomeResponsavel" placeholder="Nome do Responsável" value=""><br>
      <br> Endereço do(a) Aluno(a): <input type="text" name="txtEndereco" placeholder="Endereço" value=""><br>
      <br> Zona: <input type="button" name="txtZona" placeholder="Zona" value=""><br> 
      <br> Telefones para Contato: <input type="number" name="txtTelefone" placeholder="Telefones" value=""><br>
      <br> Situação: <input type="text" name="txtSituacao" placeholder="Situação" value=""><br>
      <br> Escolas de Preferência: <input type="button" name="txtEscolas" placeholder="Escolas de preferência" value=""><br>
      <br> Turno de Preferência da Escola: <input type="button" name="txtTurno" placeholder="Turno de preferência" value=""><br>
      <br> Atendimentos Clínicos Especializados que Frequenta Atualmente : <input type="text" name="txtAtendimentos" placeholder="Atendimetos Clínicos" value=""><br>
      <br> Turnos dos Atendimentos Clínicos: <input type="button" name="txtTurnos" placeholder="Turnos dos Atendimentos Clínicos" value=""><br>
      <br> Informações Importantes Sobre o(a) Aluno(a): <input type="text" name="txtInfomacoes" placeholder="Informações Importantes" value=""><br>
      <br> O(a) Aluno(a) Necessitará de um Cuidador: <input type="button" name="txtNecessitara" placeholder="O(a) Aluno(a) Necessitará de um Cuidador" value=""><br>
       
       
        
        <br><input type="submit" name="Adicionar">
    </form>
</body>
</html>